*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GSO/AEX Banner/AEX Banner/nbproject/private/
/GSO/AEX Banner/AEX Banner/dist/
/GSO/AEX Banner/AEX Banner/build/
/JSF/JSF31KochFractalFX - startup/nbproject/private/
/JSF/JSF31KochFractalFX - startup/build/
/JSF/JSF31KochFractalFX - startup/dist/